
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
@Html.Partial("~/Views/AdminLayout/_HeaderPartial.cshtml")
<body>
    <div class="wrapper d-flex align-items-stretch">
        @Html.Partial("~/Views/AdminLayout/_SidebarPartial.cshtml")
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("~/Views/AdminLayout/_ScriptPartial.cshtml")
</body>
</html>

