<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/pembe.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url('/Templates/sidebar-09/images/elif icon.jpg');"></div>
            <h3>Elif Güler</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Dashboard/Index/"><span class="fa fa-home mr-3"></span> Dashboard</a>
        </li>
        <li>
            <a href="~/Templates/arveles.pdf" download><span class="fa fa-download mr-3 notif" ></span> CVMI indir</a>
        </li>
        <li>
            <a href="/Statistic/Index/"><span class="fa fa-book mr-3"></span> İstatistikler</a>
        </li>
        <li>
            <a href="/Project/Index/"><span class="fa fa-trophy mr-3"></span> Projelerim</a>
        </li>
        <li>
            <a href="/Default/Index/"><span class="fa fa-id-card-o mr-3"></span>Site'ye Git</a>
        </li>
        
        <li>
            <a href="/Category/Index/"><span class="fa fa-bars mr-3"></span> Kategoriler</a>
        </li>
        <li>
            <a href="/Service/Index/"><span class="fa fa-table mr-3"></span> Hizmetlerim</a>
        </li>
        <li>
            <a href="/SocialMedia/Index/"><span class="fa fa-facebook mr-3"></span> Sosyal Medya</a>
        </li>
        <li>
            <a href="/Testimonial/Index/"><span class="fa fa-users mr-3"></span> Referanslar</a>
        </li>
        <li>
            <a href="/Contact/Index/"><span class="fa fa-commenting mr-3"></span>Mesajlar</a>
        </li>
       
    </ul>

</nav>
