<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Meyawo Portfolio Projesi</title>
    <!-- font icons -->
    <link rel="stylesheet" href="~/Templates/meyawo-1.0.0/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="~/Templates/meyawo-1.0.0/assets/css/meyawo.css">
</head>
