<section class="section-sm bg-primary">
    <!-- container -->
    <div class="container text-center text-sm-left">
        <!-- row -->
        <div class="row align-items-center">
            <div class="col-sm offset-md-1 mb-4 mb-md-0">
                <h6 class="title text-light">Benimle Çalışmak İster Misiniz?</h6>
                <p class="m-0 text-light">Benimle her zaman iletişime geçebilir ve işbirliği kurabilirsiniz.</p>
            </div>
            <div class="col-sm offset-sm-2 offset-md-3">
                <a href="#" class="btn btn-lg my-font btn-light rounded">Benimle Çalış</a>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section>
