
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>İstatistikler</h2>

<div class="alert alert-danger">Kategori Sayısı:@ViewBag.v1</div>

<div class="alert alert-warning">Proje Sayısı:@ViewBag.v2</div>


<div class="alert alert-info">Mesaj Sayısı:@ViewBag.v3</div>


<div class="alert alert-dark">Flutter Proje Sayısı:@ViewBag.v4</div>

<div class="alert alert-primary">Java Proje Sayısı:@ViewBag.v5</div>


